<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Giriş Yap</title>
  <link rel="stylesheet" href="../static/css/loginStyle.css">

</head>
<body>
<div class="login-box">
  <h2>Giriş Yap</h2>
  <form method='post' action='{{url_for("login")}}' enctype = "multipart/form-data">
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Kullanıcı Adı</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Şifre</label>
    </div>
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" >Gönder</button>
    </a>

  </form>
</div>

</body>
</html>